* {
  margin: 0 auto;
  padding: 0;
  /* border: 1px dotted rebeccapurple; */
}

html {
  margin: 0 auto;
}

body {
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background: white;
  color: #707070;
}

h1 {
  margin: 20px 0;
}

.my_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  /* height: 75px; */
  background: #E83E8C !important;
}

.navbar-nav {
  margin-left: 25vw;
}

.navbar .container-fluid {
  max-width: 920px;
}

.image-brand {
  height: 53px !important;
}

.content {
  min-height: 500px;
  padding: 20px 10px;
  max-width: 920px;
}

.card {
  max-width: 248px !important;
}

.card-body {
  color: #373A3C;
  padding: 0;

}

.card-body .title {
  margin: 10px;
}

.card-body .description {
  margin: 10px;
  font-size: 11px;
}

.card-body li {
  width: 100%;
  font-size: 11px;
}

.card-body a {
  text-decoration: none;
  color: #1C7CD5;
  margin-right: 20px;
  font-size: 11px;
}

.footer_one {
  height: 184px;
  background: #17A2B8;
  color: white;
  padding: 0 250px;
}

.footer_one p {
  font-size: 40px;
}

.footer_one i {
  font-size: 53px;
}

.footer_two {
  height: 184px;
  background-color: #E83E8C;
}

.footer_two img {
  height: 100px;
  max-width: 100px;
}



/* MEDIA QUERIES */
@media (max-width: 450px) {
  .footer_one {
    display: none;
  }

  .navbar-brand {
    margin-left: 40px;
  }

  h1 {
    font-size: 35px;
  }

  .card {
    max-width: 85vw !important;
  }
}

/* EFFECTS */

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.brighten {
  -webkit-filter: brightness(85%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten:hover {
  -webkit-filter: brightness(120%);
}